.aboutCompany {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 276px;
    margin-top:  73.5px;
  }

.aboutCompanyRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.itemKey {
    border-bottom: solid 1px #ccc;
    padding: 8px 0;
    margin-left: 16px;
    width: 100%;
    height: 76px;
}

.itemAddressKey {
    border-bottom: solid 1px #ccc;
    padding: 8px 0;
    margin-left: 16px;
    width: 100%;
    height: 95px;
}



.itemKey:first-child {
    border-top: solid 1px #ccc;
}

.itemKey:last-child {
    height: 210px;
}

.itemValue {
    border-bottom: solid 1px #ccc;
    padding: 8px 0;
    width: 100%;
    height: 76px;
}

.itemAddressValue {
    border-bottom: solid 1px #ccc;
    padding: 8px 0;
    width: 100%;
    height: 95px;
}

.itemValue:first-child {
    border-top: solid 1px #ccc;
}

.itemValue:last-child {
    height: 210px;
}
