.webDevelopment {
    background: linear-gradient(90deg, #CCD3D4 23.34%, #CBE1E5 39.99%, #CDCDCD 84.08%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thought {
    color: #000;
    font-family: Ek Mukta;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
