.service {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.part {
    display: flex;
    justify-content: center;
    align-items: center;
  }