.WebDevelopment {
    font-size: 64px;
    color: #FFF;
    text-align: center;
    font-weight: 300;
    line-height: normal;
}

.service {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.part {
    display: flex;
    justify-content: center;
    align-items: center;
  }